/* Prevent scrolling when a modal is open */
body.modal-open {
    overflow: hidden;
}

/* Blur for background when a modal is open */
body.modal-open> :not(#check-out-modal-container) {
    filter: blur(3px);
    transition: filter 0.2s ease;
}

/* ============= MAIN CONTENT ============= */
/* main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px 24px;
} */

main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

.cart-items h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.cart-items {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-name {
    font-weight: 500;
    font-size: 16px;
}

.item-price {
    font-size: 14px;
    color: #555;
}

.qty-input {
    width: 50px;
    padding: 4px 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    outline: none;
}

.checkout-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.cart-items {
    flex: 2;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.cart-item button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}

.ship-side {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
    max-width: 583px;
}

.ship-side section {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
}

.shipping h2,
.order-summary h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.shipping form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row {
    display: flex;
    gap: 8px;
}

.shipping input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.ship-side .shipping {
    max-width: 600px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.summary-row.total {
    font-size: 18px;
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.checkout-btn:hover {
    background: #218838;
}

@media (max-width: 768px) {
    .checkout-layout {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}