/* Prevent scrolling when a modal is open */
body.modal-open {
    overflow: hidden;
}

/* Blur for background when a modal is open */
body.modal-open> :not(#check-out-modal-container) {
    filter: blur(3px);
    transition: filter 0.2s ease;
}

/* ============= MAIN CONTENT ============= */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px 24px;
}