/* base */
@import "./base/normalize.css";

/* layout */
@import "./layout/grid.css";

/* components */
@import "./components/navbar.css";
@import "./components/sidebar.css";
@import "./components/pagination.css";
@import "./components/forms.css";
@import "./components/buttons.css";
@import "./components/cards.css";

/* pages */
@import "./pages/auth.css";
@import "./pages/dashboard.css";
@import "./pages/product-view.css";
@import "./pages/cart.css";


/*  Paste this link in the html file: 
    <link rel="stylesheet" href="/css/main.css"> 
*/