#check-out-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#check-out-container {
    display: flex;
    position: relative;
    max-width: 400px;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    padding: 20px;
    gap: 30px;
    margin: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

#check-out-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
}

#check-out-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#check-out-container form .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#check-out-container form .row {
    display: flex;
    gap: 20px;
}

#check-out-container form .total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#check-out-container form button {
    align-self: center;
}

#check-out-container form>div>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}